@model IEnumerable<MvcMovie.Models.Director>

@{ ViewData["Title"] = "Index"; }
<style>

    .table {
        background: #ffffff;
        border-radius: 10px;
    }
</style>
<h1>Directors List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a class="btn btn-small btn-success" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a class="btn btn-small btn-secondary" asp-action="Details" asp-route-id="@item.ID">Details</a>
                        <a class="btn btn-small btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<br />
