@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}
<style>

    .row {
        background-color: whitesmoke;
        border-radius: 20px;
        color: black;
        padding-top: 15px;
    }



    .hr {
        border-bottom: black 1px solid;
    }
</style>
<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <br />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
            <hr />
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
            <hr />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
            <hr />
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
            <hr />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
            <hr />
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
            <hr />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
            <hr />
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
            <hr />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
            <hr />
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
            <hr />
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-small btn-success" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a class="btn btn-small btn-secondary" asp-action="Index">Back to List</a>
</div>
